/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/source-sans-pro-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('../fonts/source-sans-pro-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-sans-pro-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-sans-pro-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-sans-pro-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-sans-pro-v11-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #810e15;
    background-color: #fdfdfd;
    text-align: left;
    margin: 0;
    padding: 0;
}

a:link {color: #1D1414}
#menu a:link { color: #810E15 }
a.reference { color: #810e15 }
a.reference:visited { color: #810e15 }
a:visited { color: #1D1414 }
a {text-decoration: none }
a:hover {text-decoration: underline}
a:active { color: #810E15 }

#header {
    margin-left: auto;
    width: 90%;
}

.nav {
    margin: auto;
    width: 50%;
    clear: both;
}

.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #ddd;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.nav li {
    font-size: 1.2em;
    line-height: 1.4em;
    height: 1.4em;
    width: 10em;
    display: inline-block;
}

.nav a {
    display: block;
    text-decoration: none;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #f67380;
}

.nav a.active {
    background-color: #eee;
    color: #810e15;
    cursor: default;
}

.page {
    margin: auto;
    width: 90%;
    clear: both;
}

.tagline {
    padding-top: 1em;
    font-size: 125%;
}

#contents {
    padding: 1em;
    margin-left: 5%;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 70%;
    /*
    background-color: #f2f2f2;
    */
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.tutorial-box {
    margin-top: 1em;
}

.tutorial-box > * {
    float: left;
    margin-right: 1em;
}

.tutorial-box:before,
.tutorial-box:after {
    content: " ";
    display: table;
}

.tutorial-box:after {
    clear: both;
}

.tutorial-content {
    min-width: 45%;
    max-width: 45%;
    display: block;
    text-align: justify;
}

.figure {
    padding: 0.25em;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-color: #1D1414;
    border-width: 1px;
    border-style: solid;
}
.figure img {
    cursor: pointer;
}

.figure-text {
    font-size: 80%;
    color: #1D1414;
    padding-left: 2em;
}

.clearfix {
    clear: both;
    padding-top: 1em;
}

.clearfix-nopad {
    clear: both;
}

h3.example {
    padding-top: 1em;
}

#helpcontent {
    font-size: 90%;
}
#helpcontent li {
    font-size: 70%;
}

#upload {
    padding-top: 1em;
}

.ui-button.red-button {
    background: #810e1555 url(smoothness/images/ui-bg_glass_75_red_1x400.png) 50% 50% repeat-x;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 1em 0;
}

.menu li {
    float: left;
    padding-right: 2em;
}

#pattern-selections {
    width: 20%;
    padding: 0 1em;
    display: block;
    float: right;
    border: solid 1px #222;
    -moz-border-radius: 8px;
    border-radius: 8px;
    position: fixed;
    z-index: 10;
    right: 10px;
}

#drop-area , #trash-container {
    background-color: #fafafa;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: dashed 1px #222;
    margin-top: 2em;
    padding: 1.5em;
}

#contents code {
    background-color: #ddd;
    padding: 2px;
    border-radius: 2px;
}

.sub-drop {
    border: dashed 1px pink;
    padding: 0;
    min-height: 5em;
}

.float-right {
    display: block;
    float: right;
}

#pattern-list{
    margin: -2em -1em;
    padding: 2em 0;
}

.weight-matrix {
    list-style-type: none;
    margin: 0;
    padding: 0 0 9em 0;
}

.complement-ruleset {
    list-style-type: none;
    margin: 0;
    padding: 0 0 4em 0;
}

.weight-matrix>li, .complement-ruleset>li {
    float: left;
}

.weight-label ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.weight-label li {
    margin-right: 1em;
}

.weight-label input {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: bold;
    color: #810e15;
    background-color: #f2f2f2;
    border-color: transparent;
}

.complement-pair {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 0.5em;
}

.weight ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.weight input {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

#trash {
    margin: -1.5em;
    margin-top: -4.6em;
    padding: 4em;
}

.prototype-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0.5em;
}

.placeholder {
    height: 1.5em;
    line-height: 1.2em;
    visibility: visible;
}

.prototype, .pattern {
    background-color: #f2f2f2;
    border: solid 1px #ddd;
    margin-top: 0.5em;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#pattern textarea {
    font-family: monospace;
}

.flash {
    background-color: red;
    color: black;
}

#results {
    padding-top: 1em;
}

.legend {
    font-weight: bold;
}

#ambiguity-table {
    border-collapse: collapse;
}

#ambiguity-table td {
    padding-right: 0.6em;
    padding-left: 0.2em;
}

#ambiguity-table td:nth-child(odd) {
    background-color: #fdfdfd;
}
#ambiguity-table td:nth-child(even) {
    background-color: #eee;
}

#footer {
    width: 50%;
    padding-top: 0.5em;
    padding-bottom: 4.5em;
    margin: auto;
}

.copyright {
    font-size: 60%;
    margin-top: 2em;
    margin-left: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    background-color: #ddd;
    padding: 0.5em;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.cite-us {
    display: block;
    float: right;
    padding-right: 2em;
}
