body {
    font-family: 'Tahoma', Verdana, Arial, Sans-Serif;
    color: #810e15;
    background-color: #fdfdfd;
    text-align: left;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

a:link {color: #1D1414}
#menu a:link { color: #810E15 }
a:visited { color: #1D1414 }
a {text-decoration: none }
a:hover {text-decoration: underline}
a:active { color: #810E15 }

#header {
    margin-left: auto;
    width: 90%;
}

#mainlogo {
}

.page {
    margin: auto;
    width: 90%;
    clear: both;
}

.tagline {
    padding-top: 1em;
    font-size: 125%;
}

#contents {
    background-color: #f2f2f2;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 90%;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#help-container {
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

#helptext {
    padding-top: 0.5em;
}

.fake-link {
    color: #1d1414;
}

.fake-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.button {
    background-color: #fdfdfd;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-color: white;
    border-style: outset;
}

.imgbutton {
    padding-left: 0.25em;
}

.flash {
    background-color: red;
    color: black;
}

#results {
    padding-top: 1em;
}

.footer {
    margin: 0 auto;
    width: 95%;
    padding-bottom: 4.5em;
    border-top: 2px solid #810e15;
}

.copyright {
    font-size: 60%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    background-color: #ddd;
    padding: 0.5em;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
