{% extends "layout.html" %}
{% block body %}
<div id="contents">
  <h3 id="cite">How to cite</h3>
  <p>
    If you have found PatScanUI useful, please cite:<br>
    <em>Publication in preparation.</em>
  </p>
  <p>
    PatScanUI is built on top of the excellent <code>scan_for_matches</code> tool.
    Please also cite:<br>
    Dsouza, M.; Larsen, N. &amp; Overbeek, R.: Searching for patterns in genomic data. <i>Trends in genetics : TIG</i>, <b>1997</b>, <i>13</i>, 497-8
  </p>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
  setActiveNav(window.location.pathname.slice(1));
});
</script>
{% endblock %}
