{% extends "layout.html" %}
{% block body %}
      <div id="contents">

        <div id="helpcontent">
          <h3><a href="#">Basic Usage</a></h3>
          <div>
            <p>
            As a first step, you need to upload a sequence file in FASTA format.
            This is the sequence you can search using PatScan. The file will be
            kept on the server as long as you work on it and deleted an hour
            after you finished using the software.
            </p>
            <p>
            Once your file is uploaded, you can specify a pattern by dragging
            pattern elements from the menu bar on the right side of the screen
            to the work area. Once the pattern element is on the work area, you
            can fill in details, and reorder the elements by dragging them
            around.
            </p>
            <p>
            Above the pattern area, there is a configuration menu containing a
            couple of buttons to adjust the software.
            </p>

            <p>
            The <b>DNA/Protein</b> selector allows you to tell PatScan what
            kind of sequence file you uploaded.  This affects the selection of
            available pattern elements.
            </p>

            <p>
            While working on the pattern, you can switch on the <b>continuous
            preview</b>, that will regularly search your uploaded sequence
            for the currently selected pattern. This will allow you to tweak
            the pattern until you get the desired result.
            </br>

            <p>
            If you want to get rid of the current pattern elements, you can
            clear all of them using the <b>clear</b> button. Alternatively, you
            may drag single elements onto the trash on the right hand menu.
            </p>

            <p>
            If you want to get an example of many of the possible pattern elements,
            you can load an <b>example</b>.
            </p>

            <p>
            Below the work area, you can expand the <b>computed pattern</b>
            view, in case you need to tweak the generated pattern manually
            </p>
          </div>
          <h3><a href="#">Nucleotide Ambiguity Codes</a></h3>
          <div>
            <p>
            <table id="ambiguity-table">
              <thead>
                <tr>
                  <td class="legend">Code</td>
                  <td>M</td>
                  <td>R</td>
                  <td>W</td>
                  <td>S</td>
                  <td>Y</td>
                  <td>K</td>
                  <td>V</td>
                  <td>H</td>
                  <td>D</td>
                  <td>B</td>
                  <td>N</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="legend">Nucleotides</td>
                  <td>AC</td>
                  <td>AG</td>
                  <td>AT</td>
                  <td>CG</td>
                  <td>CT</td>
                  <td>GT</td>
                  <td>ACG</td>
                  <td>ACT</td>
                  <td>AGT</td>
                  <td>CGT</td>
                  <td>ACGT</td>
                </tr>
              </tbody>
            </table>
            </p>
          </div>
          <!--
          <h3><a href="#">Common Patterns</a></h3>
          <div>
            <p>
            A couple of common patterns should be selectable from here.
            Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
            ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
            amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
            odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
            </p>
          </div>
          -->
        </div>

        <div id="upload" data-bind="visible: showUploadMenu()">
          <p id="upload-message" data-bind="text: upload_message"></p>
          <form>
            <input id="new-file" type="file" name="file">
          </form>
        </div>

        <div id="settings" data-bind="visible: !showUploadMenu()">
          <ul id="menu">
            <li id="molecule-type">
              <input type="radio" name="molecule" id="DNA" value="DNA" data-bind="checked: molecule" /><label for="DNA">DNA</label>
              <input type="radio" name="molecule" id="protein" value="protein" data-bind="checked: molecule" /><label for="protein">Protein</label>
            </li>
            <li>
              <input type="checkbox" id="preview" data-bind="checked: preview" />
              <label for="preview">Continuous Preview</label></p>
            </li>
            <li>
              <button id="clear-button" data-bind="click: clearPatterns">Clear all Patterns</button>
            </li>
            <li>
              <button id="demo-button" data-bind="click: demo">Show Example</button>
            </li>
            <li>
              <button id="submit-button" data-bind="click: submit">Submit</button>
            </li>
          </ul>
        </div>

        <div id="drop-area" data-bind="visible: !showUploadMenu()">
          <div data-bind="visible: pattern_list().length == 0">Drop new patterns here</div>
          <div id="pattern-list" data-bind="sortable: {template: getTemplate, data: pattern_list, options: {distance: 5, paceholder: 'placeholder'},
                                            afterMove: refreshButtons}">
          </div>
        </div>

        <div id="pattern" data-bind="visible: !showUploadMenu()">
          <h3><a href="#">Computed Pattern</a></h3>
          <div>
            <textarea data-bind="value: pattern, attr: {cols: 80, rows: 2}"></textarea>
          </div>
        </div>

        <div id="result" data-bind="visible: result">
          <p>Results:<br>
          <textarea data-bind="value: result, attr: {cols: 80, rows: 4}"></textarea>
        </div>

      </div>

      <div id="pattern-selections" data-bind="visible: !showUploadMenu()">

        <ul class="prototype-container" data-bind="foreach: constructors">
          <li class="prototype" data-bind="drag: constructor, text: text,
                                           visible: show_for == 'all' || show_for == $root.molecule(),
                                           dragOptions: { stop: $root.refreshButtons }"></li>
        </ul>



        <div id="trash-container">
          <p>Trash</p>
          <div id="trash" data-bind="sortable: trash">
          </div>
        </div>

      </div>

    </div>
{% endblock %}
{% block scripts %}
    <script id="string-template" type="text/html">
      <div class="pattern">
        <label data-bind="visible: $parent.allow_named, uniqueFor: named">Named</label>
        <input type="checkbox" data-bind="visible: $parent.allow_named, checked: named, uniqueId: named" class="toggle"/>
        <input type="text" data-bind="value: sequence">
        <span data-bind="template: { name: 'variations-template', data: variations }"></span>
        <button class="reverse-complement" data-bind="click: reverseComplement, visible: $root.molecule() == 'DNA'">Reverse Complement</button>
      </div>
    </script>

    <script id="range-template" type="text/html">
      <div class="pattern">
        <label data-bind="visible: $parent.allow_named, uniqueFor: named">Named</label>
        <input type="checkbox" data-bind="visible: $parent.allow_named, checked: named, uniqueId: named" class="toggle"/>
        <label>From: <input type="text" size="5" data-bind="value: from" /></label>
        <label>To: <input type="text" size="5" data-bind="value: to" /></label>
      </div>
    </script>

    <script id="complement-template" type="text/html">
      <div class="pattern">
        <label data-bind="visible: $parent.allow_named, uniqueFor: named">Named</label>
        <input type="checkbox" data-bind="visible: $parent.allow_named, checked: named, uniqueId: named" class="toggle"/>
        <label>Complement of:
          <select data-bind="options: $root.namedPatterns,
                             optionsText: $root.getNamedPatternName,
                             value: selected,
                             optionsCaption: 'Choose...'">
          </select>
        </label>
        <span data-bind="template: { name: 'variations-template', data: variations }"></span>
        <label data-bind="visible: $root.complementRules().length > 0">Ruleset:
          <select data-bind="options: $root.complementRules,
                             optionsText: $root.getNamedPatternName,
                             value: ruleset,
                             optionsCaption: 'default'">
          </select>
        </label>
      </div>
    </script>

    <script id="repeat-template" type="text/html">
      <div class="pattern">
        <label data-bind="visible: $parent.allow_named, uniqueFor: named">Named</label>
        <input type="checkbox" data-bind="visible: $parent.allow_named, checked: named, uniqueId: named" class="toggle"/>
        <label>Repeat of:
          <select data-bind="options: $root.namedPatterns,
                             optionsText: $root.getNamedPatternName,
                             value: selected,
                             optionsCaption: 'Choose...'">
          </select>
        </label>
        <span data-bind="template: { name: 'variations-template', data: variations }"></span>
      </div>
    </script>

    <script id="alternative-template" type="text/html">
      <div class="pattern">
        <div class="sub-drop" data-bind="sortable: {template: $root.getTemplate, data: sub_patterns,
                                                    options: {distance: 5, forcePlaceholderSize: true},
                                                    afterMove: $root.refreshButtons, allowDrop: canDrop}">
        </div>
      </div>
    </script>

    <script id="anyof-template" type="text/html">
      <div class="pattern">
        <label data-bind="visible: $parent.allow_named, uniqueFor: named">Named</label>
        <input type="checkbox" data-bind="visible: $parent.allow_named, checked: named, uniqueId: named" class="toggle"/>
        <label>Any of: <input type="text" data-bind="value: sequence"></label>
      </div>
    </script>

    <script id="notanyof-template" type="text/html">
      <div class="pattern">
        <label data-bind="visible: $parent.allow_named, uniqueFor: named">Named</label>
        <input type="checkbox" data-bind="visible: $parent.allow_named, checked: named, uniqueId: named" class="toggle"/>
        <label>Not any of: <input type="text" data-bind="value: sequence"></label>
      </div>
    </script>

    <script id="length-template" type="text/html">
      <div class="pattern">
        <label data-bind="visible: $parent.allow_named, uniqueFor: named">Named</label>
        <input type="checkbox" data-bind="visible: $parent.allow_named, checked: named, uniqueId: named" class="toggle"/>
        <label>Length of:
          <select data-bind="options: $root.namedPatterns,
                             optionsText: $root.getNamedPatternName,
                             selectedOptions: selected"
                             multiple="true">
          </select>
        </label>
        <label>is less than:<input type="text" data-bind="value: length" size="3"></label>
      </div>
    </script>

    <script id="weight-template" type="text/html">
      <div class="pattern">
        <label data-bind="visible: $parent.allow_named, uniqueFor: named">Named</label>
        <input type="checkbox" data-bind="visible: $parent.allow_named, checked: named, uniqueId: named" class="toggle"/>
        <button class="toggle" data-bind="click: addWeight">Add Weight</button>
        <ul class="weight-matrix">
          <li class="weight-label">
            <ul>
              <li><strong>A</strong></li>
              <li><strong>C</strong></li>
              <li><strong>G</strong></li>
              <li><strong>T</strong></li>
              <li>&nbsp;</li>
            </ul>
          </li>
          <!-- ko foreach: matrix -->
          <li class="weight" data-bind="css: { 'ui-state-error': isInvalid() }">
            <ul>
              <li><input type="text" size="3" data-bind="value: a"></li>
              <li><input type="text" size="3" data-bind="value: c"></li>
              <li><input type="text" size="3" data-bind="value: g"></li>
              <li><input type="text" size="3" data-bind="value: t"></li>
              <li><button class="remove" data-bind="click: $parent.removeWeight">remove</button></li>
            </ul>
          </li>
          <!-- /ko -->
        </ul>
        <br>
        <label>Weight: <input type="text" size=4 data-bind="value: weight"></label>
      </div>
    </script>

    <script id="complement-rule-template" type="text/html">
      <div class="pattern">
        <button class="toggle" data-bind="click: addComplementPair">Add Complement Pair</button>
        <ul class="complement-ruleset">
          <li>Complement pairs: </li>
          <!-- ko foreach: ruleset -->
          <li>
          <ul class="complement-pair" data-bind="css: { 'ui-state-error': isInvalid() }">
              <li><input type="text" size=2 data-bind="value: sequence"></li>
              <li><button class="remove" data-bind="click: $parent.removeComplementPair">remove</button></li>
            </ul>
          </li>
          <!-- /ko -->
        </ul>
      </div>
    </script>

    <script id="variations-template" type="text/html">
      <label data-bind="uniqueFor: show">Variations</label><input type="checkbox" class="toggle" data-bind="checked: show, uniqueId: show"/>
      <label data-bind="visible: show">Mutations: <input type="text" size="3" data-bind="value: mutations" /></label>
      <label data-bind="visible: show">Insertions: <input type="text" size="3" data-bind="value: insertions" /></label>
      <label data-bind="visible: show">Deletions: <input type="text" size="3" data-bind="value: deletions" /></label>
    </script>

    <script src="{{ url_for('static', filename="js/jquery-1.8.0.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/jquery-ui-1.8.22.custom.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/jquery.ui.touch-punch.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/jquery.ajaxfileupload.js") }}"></script>
    <script src="{{ url_for('static', filename="js/knockout.js") }}"></script>
    <script src="{{ url_for('static', filename="js/knockout-sortable.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/knockout-sortable-receive.js") }}"></script>
    <script src="{{ url_for('static', filename="js/knockout-drag.js") }}"></script>
    <script src="{{ url_for('static', filename="js/knockout-uniqueid.js") }}"></script>
    <script src="{{ url_for('static', filename="js/bio.js") }}"></script>
    <script src="{{ url_for('static', filename="js/patscan-viewmodel.js") }}"></script>
    <script type="text/javascript">

      $(document).ready(function() {
        var view_model = new PatScanViewModel();
        ko.applyBindings(view_model);
        SetViewModel(view_model);

        $("#helpcontent").accordion({
          active: false,
          collapsible: true,
          clearStyle: true,
        });

        $("#pattern").accordion({
          active: false,
          collapsible: true,
          clearStyle: true
        });

        $("#pattern-selections").position({
          of: $('#contents'),
          my: "left top",
          at: "right top",
          offset: "40% 20px",
          });

        $("#footer").position({
          of: $(".page").filter(":last"),
          my: "center top",
          at: "center bottom",
          offset: "0 10%"
        });


        $(".button").button();
        $("#demo-button").button({
          icons: { primary: "ui-icon-lightbulb" }
        });


        $("#clear-button").button({
          icons: { primary: "ui-icon-trash" }
        });

        $("#preview").button({
          icons: { primary: "ui-icon-refresh" }
        });

        $("#submit-button").button({
          icons: { primary: "ui-icon-play" }
          });

        $("#molecule-type").buttonset();

        $(".toggle").button();
        $(".remove").button({
          icons: { primary: "ui-icon-trash" },
          text: false
        });

        $('.reverse-complement').button({
            icons: { primary: "ui-icon-transferthick-e-w" },
            text: false
        });


        $('#new-file').ajaxfileupload({
          action: "{{ url_for('upload') }}",
          onComplete: function(response) {
            if(response.result == "ok") {
              view_model.current_file(response.filename);
            }
            $("#new-file").val('');
          },
          valid_extensions: ['fa', 'fasta', 'fna', 'faa', 'txt']
        });
      });
    </script>
{% endblock %}
