{% extends "layout.html" %}
{% block body %}
      <div id="pattern-selections" data-bind="visible: !showUploadMenu()">
        <h3>Select pattern elements:</h3>

        <ul class="prototype-container" data-bind="foreach: constructors">
          <li class="prototype" data-bind="drag: constructor, text: text,
                                           visible: show_for == 'all' || show_for == $root.molecule(),
                                           dragOptions: { stop: $root.refreshButtons },
                                           click: function() { $root.pattern_list.push(new constructor()); $root.refreshButtons() }"></li>
        </ul>

      </div>
      <div id="contents">

        <div id="helpcontent">
          <h3><a href="#">Advanced Features</a></h3>
          <div>
            <ul class="menu">
              <li>
                <button id="demo-button" data-bind="click: demo, visible: !showUploadMenu()">Show Complex Example</button>
              </li>
              <li>
                <button id="save-button" data-bind="click: save, visible: !showUploadMenu()">Save Pattern</button>
              </li>
              <li>
                <button id="load-button" data-bind="click: load, visible: !showUploadMenu()">Load Pattern</button>
              </li>
            </ul>
            <br>
            <textarea rows="3" cols="40" data-bind="value: json, visible: !showUploadMenu()"></textarea>
            <br>
            <div data-bind="text: hint"></div>
          </div>
        </div>

        <div id="upload" data-bind="visible: showUploadMenu()">
          <p id="upload-message" data-bind="text: upload_message"></p>
          <form>
            <input id="new-file" type="file" name="file">
          </form>
          <p>or pick one of the following provided genomes:</p>
          <select data-bind="options: allProvidedFiles,
                             value: provided,
                             optionsCaption: 'Choose...'"></select>
          <div>
            <p>or load the</p>
            <button id="example-input-button" data-bind="click: example">Example input</button>
          </div>
        </div>

        <div id="settings" data-bind="visible: !showUploadMenu()">
          <ul class="menu">
            <li id="molecule-type">
              <input type="radio" name="molecule" id="DNA" value="DNA" data-bind="checked: molecule" /><label for="DNA">DNA</label>
              <input type="radio" name="molecule" id="protein" value="protein" data-bind="checked: molecule" /><label for="protein">Protein</label>
            </li>
            <li id="strand-use" data-bind="visible: $root.molecule() == 'DNA'">
              <input type="radio" name="strand" id="forward" value="false" data-bind="checked: both" /><label for="forward">Forward</label>
              <input type="radio" name="strand" id="both" value="true" data-bind="checked: both" /><label for="both">Both</label>
            </li>
            <li>
              <input type="checkbox" id="preview" data-bind="checked: preview" />
              <label for="preview">Continuous Preview</label></p>
            </li>
            <li>
              <button id="clear-button" data-bind="click: clearPatterns">Clear all Patterns</button>
            </li>
            <li>
              <button id="new-seq-button" data-bind="click: new_seq">New sequence</button>
            </li>
            <li>
              <button id="submit-button" class="red-button" data-bind="click: submit">Submit</button>
            </li>
          </ul>
        </div>

        <div class="clearfix-nopad"></div>

        <div id="drop-area" data-bind="visible: !showUploadMenu()">
          <div data-bind="visible: pattern_list().length == 0">Drop new patterns here</div>
          <div id="pattern-list" data-bind="sortable: {template: getTemplate, data: pattern_list, options: {distance: 5, paceholder: 'placeholder'},
                                            afterMove: refreshButtons}">
          </div>
        </div>

        <div id="pattern" data-bind="visible: !showUploadMenu()">
          <h3><a href="#">Computed Pattern</a></h3>
          <div>
            <textarea data-bind="value: pattern, attr: {cols: 80, rows: 2}"></textarea>
          </div>
        </div>

        <div data-bind="visible: !showUploadMenu()">
          <button id="submit-button2" class="float-right red-button" data-bind="click: submit">Submit</button>
        </div>

        <div id="result" data-bind="visible: result">
          <div>
            Output format:
            <div id="output-format">
              <input type="radio" name="outfmt" id="patscan" value="patscan" data-bind="checked: outfmt" /><label for="patscan">PatScan</label>
              <input type="radio" name="outfmt" id="fasta" value="fasta" data-bind="checked: outfmt" /><label for="fasta">FASTA</label>
              <input type="radio" name="outfmt" id="gff" value="gff" data-bind="checked: outfmt" /><label for="gff">GFF</label>
              <input type="radio" name="outfmt" id="bed" value="bed" data-bind="checked: outfmt" /><label for="bed">BED</label>
            </div>
          </div>
          <p>Results:<br>
          <textarea data-bind="value: result, attr: {cols: result_cols, rows: result_rows}"></textarea>
          <div>
            <button id="save-as" data-bind="click: saveAs">Save</button>
            <input type="text" data-bind="value: outFileName" style="text-align: right">
            <span data-bind="text: fileExt"></span>
          </div>
        </div>

      </div>


    </div>
{% endblock %}
{% block scripts %}
    <script id="string-template" type="text/html">
      <div class="pattern">
        <label class="pattern-label" data-bind="visible: $parent.allow_named, uniqueFor: named, click: updateName">unamed</label>
        <input type="checkbox" data-bind="visible: $parent.allow_named, checked: named, uniqueId: named" class="toggle"/>
        <input type="text" data-bind="value: sequence">
        <span data-bind="template: { name: 'variations-template', data: variations }"></span>
        <button class="reverse-complement" data-bind="click: reverseComplement, visible: $root.molecule() == 'DNA'">Reverse Complement</button>
        <button class="remove float-right" data-bind="click: $parent.removePattern">Remove</button>
        <button class="help-button float-right" data-bind="click: function() {openHelp('string')}">Help</button>
      </div>
    </script>

    <script id="range-template" type="text/html">
      <div class="pattern">
        <label class="pattern-label" data-bind="visible: $parent.allow_named, uniqueFor: named, click: updateName">unamed</label>
        <input type="checkbox" data-bind="visible: $parent.allow_named, checked: named, uniqueId: named" class="toggle"/>
        <label>From: <input type="text" size="5" data-bind="value: from" /></label>
        <label>To: <input type="text" size="5" data-bind="value: to" /></label>
        <button class="remove float-right" data-bind="click: $parent.removePattern">Remove</button>
        <button class="help-button float-right" data-bind="click: function() {openHelp('range')}">Help</button>
      </div>
    </script>

    <script id="complement-template" type="text/html">
      <div class="pattern">
        <label class="pattern-label" data-bind="visible: $parent.allow_named, uniqueFor: named, click: updateName">unamed</label>
        <input type="checkbox" data-bind="visible: $parent.allow_named, checked: named, uniqueId: named" class="toggle"/>
        <label>Complement of:
          <select data-bind="options: $root.namedPatterns,
                             optionsText: $root.getNamedPatternName,
                             value: selected,
                             optionsCaption: 'Choose...'">
          </select>
        </label>
        <span data-bind="template: { name: 'variations-template', data: variations }"></span>
        <label data-bind="visible: $root.complementRules($index)().length > 0">Ruleset:
          <select data-bind="options: $root.complementRules($index),
                             optionsText: $root.getNamedPatternName,
                             value: ruleset,
                             optionsCaption: 'default'">
          </select>
        </label>
        <button class="remove float-right" data-bind="click: $parent.removePattern">Remove</button>
        <button class="help-button float-right" data-bind="click: function() {openHelp('complement')}">Help</button>
      </div>
    </script>

    <script id="repeat-template" type="text/html">
      <div class="pattern">
        <label class="pattern-label" data-bind="visible: $parent.allow_named, uniqueFor: named, click: updateName">unamed</label>
        <input type="checkbox" data-bind="visible: $parent.allow_named, checked: named, uniqueId: named" class="toggle"/>
        <label>Repeat of:
          <select data-bind="options: $root.namedPatterns,
                             optionsText: $root.getNamedPatternName,
                             value: selected,
                             optionsCaption: 'Choose...'">
          </select>
        </label>
        <span data-bind="template: { name: 'variations-template', data: variations }"></span>
        <button class="remove float-right" data-bind="click: $parent.removePattern">Remove</button>
        <button class="help-button float-right" data-bind="click: function() {openHelp('repeat')}">Help</button>
      </div>
    </script>

    <script id="alternative-template" type="text/html">
      <div class="pattern">
        <button class="remove float-right" data-bind="click: $parent.removePattern">Remove</button>
        <button class="help-button float-right" data-bind="click: function() {openHelp('alternative')}">Help</button>
        <div class="sub-drop" data-bind="sortable: {template: $root.getTemplate, data: sub_patterns,
                                                    options: {distance: 5, forcePlaceholderSize: true},
                                                    afterMove: $root.refreshButtons, allowDrop: canDrop}">
        </div>
      </div>
    </script>

    <script id="anyof-template" type="text/html">
      <div class="pattern">
        <label class="pattern-label" data-bind="visible: $parent.allow_named, uniqueFor: named, click: updateName">unamed</label>
        <input type="checkbox" data-bind="visible: $parent.allow_named, checked: named, uniqueId: named" class="toggle"/>
        <label>Any of: <input type="text" data-bind="value: sequence"></label>
        <button class="remove float-right" data-bind="click: $parent.removePattern">Remove</button>
        <button class="help-button float-right" data-bind="click: function() {openHelp('anyof')}">Help</button>
      </div>
    </script>

    <script id="notanyof-template" type="text/html">
      <div class="pattern">
        <label class="pattern-label" data-bind="visible: $parent.allow_named, uniqueFor: named, click: updateName">unamed</label>
        <input type="checkbox" data-bind="visible: $parent.allow_named, checked: named, uniqueId: named" class="toggle"/>
        <label>Not any of: <input type="text" data-bind="value: sequence"></label>
        <button class="remove float-right" data-bind="click: $parent.removePattern">Remove</button>
        <button class="help-button float-right" data-bind="click: function() {openHelp('notanyof')}">Help</button>
      </div>
    </script>

    <script id="length-template" type="text/html">
      <div class="pattern">
        <label class="pattern-label" data-bind="visible: $parent.allow_named, uniqueFor: named, click: updateName">unamed</label>
        <input type="checkbox" data-bind="visible: $parent.allow_named, checked: named, uniqueId: named" class="toggle"/>
        <label>Length of:
          <select data-bind="options: $root.namedPatterns,
                             optionsText: $root.getNamedPatternName,
                             selectedOptions: selected"
                             multiple="true">
          </select>
        </label>
        <label>is less than:<input type="text" data-bind="value: length" size="3"></label>
        <button class="remove float-right" data-bind="click: $parent.removePattern">Remove</button>
        <button class="help-button float-right" data-bind="click: function() {openHelp('length')}">Help</button>
      </div>
    </script>

    <script id="weight-template" type="text/html">
      <div class="pattern">
        <label class="pattern-label" data-bind="visible: $parent.allow_named, uniqueFor: named, click: updateName">unamed</label>
        <input type="checkbox" data-bind="visible: $parent.allow_named, checked: named, uniqueId: named" class="toggle"/>
        <button class="toggle" data-bind="click: addWeight">Add Weight</button>
        <button class="remove float-right" data-bind="click: $parent.removePattern">Remove</button>
        <button class="help-button float-right" data-bind="click: function() {openHelp('weight')}">Help</button>
        <ul class="weight-matrix">
          <li class="weight-label">
            <ul>
              <li><input type="text" size="1" value="A" disabled></li>
              <li><input type="text" size="1" value="C" disabled></li>
              <li><input type="text" size="1" value="G" disabled></li>
              <li><input type="text" size="1" value="T" disabled></li>
              <li>&nbsp;</li>
            </ul>
          </li>
          <!-- ko foreach: matrix -->
          <li class="weight" data-bind="css: { 'ui-state-error': isInvalid() }">
            <ul>
              <li><input type="text" size="3" data-bind="value: a"></li>
              <li><input type="text" size="3" data-bind="value: c"></li>
              <li><input type="text" size="3" data-bind="value: g"></li>
              <li><input type="text" size="3" data-bind="value: t"></li>
              <li><button class="remove" data-bind="click: $parent.removeWeight">remove</button></li>
            </ul>
          </li>
          <!-- /ko -->
        </ul>
        <br>
        <label>Weight: <input type="text" size=4 data-bind="value: weight"></label>
      </div>
    </script>

    <script id="complement-rule-template" type="text/html">
      <div class="pattern">
        <button class="toggle" data-bind="click: addComplementPair">Add Complement Pair</button>
        <button class="remove float-right" data-bind="click: $parent.removePattern">Remove</button>
        <button class="help-button float-right" data-bind="click: function() {openHelp('altcomplementrule')}">Help</button>
        <ul class="complement-ruleset">
          <li>Complement pairs: </li>
          <!-- ko foreach: ruleset -->
          <li>
          <ul class="complement-pair" data-bind="css: { 'ui-state-error': isInvalid() }">
              <li><input type="text" size=2 data-bind="value: sequence"></li>
              <li><button class="remove" data-bind="click: $parent.removeComplementPair">remove</button></li>
            </ul>
          </li>
          <!-- /ko -->
        </ul>
      </div>
    </script>

    <script id="variations-template" type="text/html">
      <label data-bind="uniqueFor: show">Variations</label><input type="checkbox" class="toggle" data-bind="checked: show, uniqueId: show"/>
      <label data-bind="visible: show">Mutations: <input type="text" size="3" data-bind="value: mutations" /></label>
      <label data-bind="visible: show">Insertions: <input type="text" size="3" data-bind="value: insertions" /></label>
      <label data-bind="visible: show">Deletions: <input type="text" size="3" data-bind="value: deletions" /></label>
    </script>

    <script src="{{ url_for('static', filename="js/jquery-ui-1.8.22.custom.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/jquery.ui.touch-punch.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/jquery.ajaxfileupload.js") }}"></script>
    <script src="{{ url_for('static', filename="js/knockout.js") }}"></script>
    <script src="{{ url_for('static', filename="js/knockout-sortable.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/knockout-sortable-receive.js") }}"></script>
    <script src="{{ url_for('static', filename="js/knockout-drag.js") }}"></script>
    <script src="{{ url_for('static', filename="js/knockout-uniqueid.js") }}"></script>
    <script src="{{ url_for('static', filename="js/ie8-fixup.js") }}"></script>
    <script src="{{ url_for('static', filename="js/FileSaver.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/bio.js") }}"></script>
    <script src="{{ url_for('static', filename="js/patscan-viewmodel.js") }}"></script>
    <script type="text/javascript">

      $(document).ready(function() {
        setActiveNav('home');
        var view_model = new PatScanViewModel();
        ko.applyBindings(view_model);
        SetViewModel(view_model);

        $.getJSON('available', function(data) {
          view_model.allProvidedFiles(data.available_files);
        });

        $("#helpcontent").accordion({
          active: false,
          collapsible: true,
          clearStyle: true,
        });

        $("#pattern").accordion({
          active: false,
          collapsible: true,
          clearStyle: true
        });

        $(".button").button();
        $("#demo-button").button({
          icons: { primary: "ui-icon-lightbulb" }
        });

        $("#example-input-button").button({
          icons: { primary: "ui-icon-lightbulb" }
        });

        $("#save-button").button({
          icons: { primary: "ui-icon-disk" }
        });

        $("#load-button").button({
          icons: { primary: "ui-icon-folder-open" }
        });

        $("#clear-button").button({
          icons: { primary: "ui-icon-trash" }
        });

        $("#preview").button({
          icons: { primary: "ui-icon-refresh" }
        });

        $("#new-seq-button").button({
          icons: { primary: "ui-icon-arrowrefresh-1-w" }
        });

        $("#submit-button").button({
          icons: { primary: "ui-icon-play" }
        });

        $("#submit-button2").button({
          icons: { primary: "ui-icon-play" }
        });

        $("#save-as").button();

        $("#molecule-type").buttonset();

        $("#strand-use").buttonset();

        $("#output-format").buttonset();

        $(".toggle").button();
        $(".remove").button({
          icons: { primary: "ui-icon-trash" },
          text: false
        });

        $('.reverse-complement').button({
            icons: { primary: "ui-icon-transferthick-e-w" },
            text: false
        });


        $('#new-file').ajaxfileupload({
          action: "{{ url_for('upload') }}",
          onComplete: function(response) {
            if(response.result == "ok") {
              view_model.current_file(response.filename);
            }
            $("#new-file").val('');
          },
          valid_extensions: ['fa', 'fasta', 'fna', 'faa', 'txt']
        });
      });
    </script>
{% endblock %}
